#insert-msg-box {
    background-color: rgb(130, 188, 223);
}
#message-form {
    display: flex;   
}
.chat__close {
    cursor: default;
    color: rgb(168, 166, 163);
    font-weight: 600;
}
.hide {
    display: none;
}
.chat-btn {
    .chat-start__btn {
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid rgba($color: #0a0a0a, $alpha: 0.6);
        box-shadow: 1px 2px 1px rgba($color: #000000, $alpha: 0.4);
        width: 68px;
        height: 65px;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}